.btn {
    border-radius: 20px;
}

nav {
    height: 50px;
}

body {
    padding-top: 70px;
    padding-bottom: 50px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

footer {
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.blanc {
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.body-content {
    padding-top: 200px;
    padding-bottom: 50px;
}