<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-1 d-flex justify-content-around">
        <p><a class="text-black" href="/">Accueil</a></p>
        <p>© 2023 Copyright: <a class="text-black" href="/">JobHub</a></p>
        <p><a class="text-black" href="/a_propos">A propos</a></p>
    </div>
</footer>