
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo et nom de l'entreprise -->
        <a class="navbar-brand" href="/">JobHub</a>
        <!-- Bouton pour afficher le menu sur les petits écrans -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menu de navigation -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/offres">Offres d'emploi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/a_propos">À propos</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" type="submit" formaction="/login">Rejoignez-nous</button>
                </li>
            </ul>
        </div>
    </div>
</nav>