/* html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-bottom: 25px;
    width: 50%;
} */

.btn {
    border-radius: 20px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.blanc {
    color: white;
}