<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/CSS/404.css">
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </div>
    <div id="projector"></div>
    <div class="mx-auto">
        <div class="container">
            <h1>404</h1>
            <h2>Nous ne parvenons pas à trouver cette page</h2>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <p class="info">Nous sommes presque sûrs que cette page se trouvait ici, mais il semble qu'elle ait
                        disparu. Nous vous prions de bien vouloir nous en excuser.</p>
                    <a href="/" id="home">Accueil</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    </div>

    <div class="shadow"></div>

</body>

<%- include('./partials/footer'); %>

<script>
    const shadow = document.querySelector('.shadow');
    window.addEventListener('mousemove', (e) => {
        const x = e.clientX;
        const y = e.clientY;
        shadow.style.backgroundPosition = `${x}px ${y}px`;
    });

    const projector = document.querySelector("#projector");
    document.addEventListener("mousemove", (e) => {
        const x = e.clientX - projector.offsetWidth / 2;
        const y = e.clientY - projector.offsetHeight / 2;
        projector.style.transform = `translate3d(${x}px, ${y}px, 0)`;
    });

</script>

</html>