<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>
<body>
    
    <link rel="stylesheet" href="../CSS/Animation.css">
    <!-- Chargement des fichiers JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <div class="container">
        <!-- Section Qui sommes-nous ? -->
        <h4 class="media-heading text-center">Qui sommes-nous ?</h4>
        <br>
        <p class="text-justify">Nous sommes une équipe de 2 étudiants en 1ère année de cycle ingénieur
            en informatique à l'Université de Technologie de Compiègne. Nous avons créé ce site web dans
            le cadre d'un projet universitaire.
            <mark>Nous pensons</mark> que la recherche d'emploi devrait être facile et gratuite pour
            tout le monde. C'est pourquoi nous avons créé ce site web pour aider les chercheurs d'emploi
            à trouver leur emploi de rêve.
            <mark>Mais également,</mark> nous avons créé ce site web pour aider les entreprises à
            trouver des candidats qualifiés pour leurs offres d'emploi.
        </p>
    </div>

    <div class="container">
        <!-- Section Avis -->
        <h4 class="text-center mb-4">Quels sont les avis de nos utilisateurs ?</h4>
        <div class="row">
            <div class="col">
                <div class="card mb-3 shadow-pop-tl ">
                    <div class="card-body">
                        <p class="card-text">Grâce à ce site, j'ai trouvé le poste parfait 
                            qui correspondait à mes compétences et à mes aspirations professionnelles. 
                            Les opportunités sont constamment mises à jour, ce qui m'a permis de 
                            décrocher rapidement un emploi gratifiant. Je le recommande à tous ceux 
                            qui veulent trouver leur emploi idéal.</p>
                    </div>
                    <div class="card-footer text-center">
                        Warren Buffett
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">Ce site web m'a permis de trouver mon emploi de rêve
                            rapidement grâce à ses mises à jour régulières et ses filtres de
                            recherche pertinents. Je le recommande vivement à tous les chercheurs
                            d'emploi sérieux.</p>
                    </div>
                    <div class="card-footer text-center">
                        Mohammed Ali
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card mb-3 ">
                    <div class="card-body">
                        <p class="card-text">Ce site est une véritable mine d'or pour les personnes 
                            à la recherche d'un nouvel emploi. Les informations sur les postes sont 
                            très complètes, et les mises à jour régulières garantissent que vous 
                            ne manquerez aucune opportunité. Grâce à ce site, j'ai réussi à trouver 
                            un emploi passionnant et stimulant. Je le recommande sans hésitation à 
                            tous ceux qui veulent donner un nouvel élan à leur carrière.</p>
                    </div>
                    <div class="card-footer text-center">
                        Larry Page
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-3 shadow-pop-tl ">
                    <div class="card-body">
                        <p class="card-text">Thanks to JobHub, I found a job that not only aligns perfectly 
                            with my skills and experience but also offers tremendous growth opportunities 
                            and a fantastic work culture. I couldn't be more grateful for the seamless user 
                            experience, the extensive job listings, and the helpful resources provided by JobHub. 
                            It truly made my job search journey much smoother and more rewarding. I highly recommend 
                            JobHub to anyone looking to discover their dream job and take their career to new heights.</p>
                    </div>
                    <div class="card-footer text-center">
                        Steve Jobs
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Section Que gagnerez-vous ? -->
    <div class="container">
        <h4 class="media-heading text-center">Que gagnerez-vous ?</h4>
        <br>
        <p class="text-justify">En utilisant notre site web, vous gagnerez :</p>
        <ul>
            <li style="list-style-type: none; color: green;">Un emploi de rêve</li>
            <li style="list-style-type: none; color: green;">Un candidat qualifié</li>
            <li style="list-style-type: none; color: green;">Du temps</li>
            <li style="list-style-type: none; color: green;">De l'argent</li>
            <li style="list-style-type: none; color: green;"><strong>Et bien plus encore...</strong>
            </li>
        </ul>
    </div>




    <!-- Section Carte Google Maps -->
    <div class="container">
        <h4 class="media-heading text-center">Où nous trouver ?</h4>
        <br>
        <div class="text-center">
            <iframe height="300" frameborder="0" style="border:0" width="100%"
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d851.8852479838791!2d127.78392609221298!3d26.357842073359294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDIxJzI4LjQiTiAxMjfCsDQ3JzAxLjciRQ!5e1!3m2!1sfr!2sfr!4v1685531272149!5m2!1sfr!2sfr"
                allowfullscreen>
            </iframe>
        </div>
    </div>


    <!-- Section Nos outils -->
    <div class="container">
        <h4 class="media-heading text-center">Quels sont nos outils ?</h4>
        <br>
        <p class="text-justify">Nous avons utilisé les technologies suivantes pour créer ce site web :
        </p>
        <ul>
            <li><i class="fab fa-html5"></i> : HTML</li>
            <li><i class="fab fa-css3"></i> : CSS</li>
            <li><i class="fab fa-js"></i> : JavaScript</li>
            <li><i class="fab fa-node"></i> : Node.js</li>
            <li><i class="fab fa-bootstrap"></i> : Bootstrap</li>
            <li><i class="fab fa-google"></i> : Google Maps API</li>
        </ul>
    </div>

    <!-- Section Contact -->
    <div class="container">
        <h4 class="media-heading">Comment nous contacter ?</h4>
        <br>
        <p class="text-justify">Vous pouvez nous contacter par e-mail à l'adresse suivante :
            <a href="mailto:jobhub@gmail.com" target="_blank"> jobhub@gmail.com</a>
        </p>
        <p class="text-justify">Vous pouvez également nous contacter par téléphone au :
            <a href="tel:+33612345678" target="_blank"> +33 6 01 02 03 04</a>
        </p>
    </div>

    <!-- Section Nous soutenir -->
    <div class="container">
        <h4 class="media-heading text-center" style="color: green;">Vous souhaitez nous soutenir ?</h4>
        <br>
        <p class="text-justify">Si vous souhaitez nous soutenir, vous pouvez nous faire un don à
            l'adresse suivante :
            <a href="https://www.paypal.com/paypalme/JobHub" target="_blank"> paypal.me/JobHub</a>
        </p>
    </div>

    <!-- Section Vous avez trouvé un bug ? -->
    <div class="container">
        <h4 class="media-heading text-center" style="color: red;">Mince ! Vous avez trouvé un bug ?</h4>
        <br>
        <p class="text-justify">Si vous avez trouvé un bug, vous pouvez nous le signaler à l'adresse
            suivante :
            <a href="mailto:jobhub.bug@gmail.com" target="_blank">jobhub.bug@gmail.com</a>
        </p>
    </div>

</body>

<%- include('./partials/footer'); %>

</html>