<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>


<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <script src="../JS/inscription.js"></script>
    <!-- Chargement des fichiers JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <!-- A REFLECHIR -->
    <div class="container">
        <div class="row">
            <!-- Sections présentation -->
            <div class="container-fluid media pl-5 my-2">
                <div class="row">
                    <div class="col">
                        <div class="media-body">
                            <div class="row">
                                <div class="col">
                                    <h4 class="media-heading">Les avis de nos utilisateurs</h4>
                                    <br>
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Ce site web m'a permis de trouver mon emploi de rêve rapidement
                                            grâce à ses mises à jour régulières et ses filtres de recherche pertinents.
                                            Je le recommande vivement à tous les chercheurs d'emploi sérieux.</p>
                                        <br>
                                        <footer class="blockquote-footer">Mohammed Ali</footer>
                                    </blockquote>
                                    <br>
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">"Ce site est vraiment génial pour trouver des candidats
                                            qualifiés. Nous avons reçu de nombreuses candidatures de qualité en peu de
                                            temps. L'interface est facile à utiliser et nous avons pu facilement trier
                                            les candidats par expérience, compétences, etc.</p>
                                        <br>
                                        <footer class="blockquote-footer">Amélie Martin</footer>
                                    </blockquote>
                                    <br>
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Trouvé emploi rêve rapidement grâce à ce site web. Mises à jour
                                            régulières et filtres pertinents. Recommandé pour chercheurs d'emploi
                                            sérieux.</p>
                                        <br>
                                        <footer class="blockquote-footer">Rafael Torres</footer>
                                    </blockquote>
                                    <br>
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Je n'ai jamais trouvé un site web de recrutement aussi utile et
                                            efficace. Leurs alertes emploi personnalisées m'ont aidé à rester au courant
                                            des nouvelles offres d'emploi et j'ai finalement décroché un emploi dans mon
                                            domaine.</p>
                                        <br>
                                        <footer class="blockquote-footer">Jack Grealish</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid media pl-5 my-2">
                <div class="row">
                    <div class="col">
                        <div class="media-body">
                            <div class="row">
                                <div class="col">
                                    <h4 class="media-heading">Nos outils</h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid media pl-5 my-2">
                <div class="row">
                    <div class="col">
                        <div class="media-body">
                            <div class="row">
                                <div class="col">
                                    <h4 class="media-heading">Que gagnerez vous ?</h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid media pl-5 my-2">
                <div class="row">
                    <div class="col">
                        <div class="media-body">
                            <div class="row">
                                <div class="col">
                                    <h4 class="media-heading">Où nous trouver ?</h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<%- include('./partials/footer'); %>

</html>