<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <div data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="centre-vertical body-content">
                <div class="card mx-auto b-2 my-2">
                    <div class="card-header text-center">
                        <h4>Ajoutez une offre</h4>
                    </div>
                    <div class="card-body ">
                        <form method="POST" action="/offre/ajout">
                            <div class="mb-3">
                                <label for="intitule" class="form-label">Intitulé :</label>
                                <input autofocus name="intitule" type="text" class="form-control" id="intitule" placeholder="Entrez l'intitulé du poste">
                            </div>
                            <div class="mb-3">
                                <label for="responsable" class="form-label">Responsable :</label>
                                <input autofocus name="responsable" type="text" class="form-control" id="responsable" placeholder="Entrez le Responsable hierarchique">
                            </div>
                            <div class="mb-3">
                                <label for="lat" class="form-label">Latitude :</label>
                                <input name="lat" type="number" class="form-control" id="lat" placeholder="Entrez la latitude du siège social" step="0.00001">
                            </div>
                            <div class="mb-3">
                                <label for="long" class="form-label">Latitude :</label>
                                <input name="long" type="number" class="form-control" id="long" placeholder="Entrez la longitude du siège social" step="0.00001">
                            </div>
                            <div class="mb-3">
                                <label for="rythme" class="form-label">Rythme :</label>
                                <input autofocus name="rythme" type="number" class="form-control" id="rythme" placeholder="Entrez le rythme (ex : 35h/semaine)" step="0.5">
                            </div>
                            <div class="mb-3">
                                <label for="salaire" class="form-label">Salaire :</label>
                                <input autofocus name="salaire" type="number" class="form-control" id="salaire" placeholder="Entrez le salaire (ex : 1950 €/mois)" step="1">
                            </div>
                            <div class="mb-3">
                                <label for="missions" class="form-label">Missions :</label>
                                <input autofocus name="missions" type="text" class="form-control" id="missions" placeholder="Entrez les Missions">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description :</label>
                                <input autofocus name="description" type="text" class="form-control" id="description" placeholder="Entrez la Description">
                            </div>
                            <div class="mb-3">
                                <label for="activites" class="form-label">Activités :</label>
                                <input autofocus name="activites" type="text" class="form-control" id="activites" placeholder="Entrez les Activités">
                            </div>
                            <div class="mb-3">
                                <label for="competences" class="form-label">Compétences :</label>
                                <input autofocus name="competences" type="text" class="form-control" id="competences" placeholder="Entrez les Compétences attendues">
                            </div>
                            <div class="mb-3">
                                <label for="statut" class="form-label">Statut :</label>
                                <input autofocus name="statut" type="text" class="form-control" id="statut" placeholder="Entrez les Statut du poste">
                            </div>

                            <div class=" text-center mt-4 ">
                                <button type="submit " class="btn btn-primary btn-block ">Ajouter l'offre</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer'); %>

</html>