<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <div data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="centre-vertical body-content">
                <div class="card mx-auto b-2 my-2">
                    <div class="card-header text-center">
                        <h4>Candidater à l'offre : <%= id %></h4>
                    </div>
                    <div class="card-body ">
                        <form method="POST" action="/candidature/validation_candidature" id="frmFileUpload"
                            enctype="multipart/form-data">

                            <script>
                                var frmFileUpload = document.getElementById('frmFileUpload');
                        
                                // On modifie le lien de redirection en fonction de l'offre
                                var url = window.location.href;
                                var id = url.substring(url.lastIndexOf('/') + 1);
                                frmFileUpload.action = "/candidature/validation_candidature/" + id;
                            </script>

                            <% if (cv != false) { %>
                                <div class="row" style="margin-bottom:5px;">
                                    <p class="text-center text-danger">Attention, le CV est obligatoire</p>
                                    <div class="col-8 offset-2">
                                        <input class="form-control" id="fileInputCV" name="myFileInputCV" type="file"
                                            accept="image/*,.pdf" required="true" placeholder="Saisissez votre CV"/>
                                    </div>
                                </div>
                            <% } %>

                            
                            <% if (lm != false ) {%>
                                <br>
                                <div class="row" style="margin-bottom:5px;">
                                    <p class="text-center text-danger">Attention, la LM est obligatoire</p>
                                    <div class="col-8 offset-2">
                                        <input class="form-control" id="fileInputLM" name="myFileInputLM" type="file"
                                            accept="image/*,.pdf" required="true" />
                                    </div>
                                </div>
                            <% } %>

                            <% if (autre != false ) {%>
                                <br>
                                <div class="row" style="margin-bottom:5px;">
                                    <p class="text-center text-danger">Vous devez ajouter un fichier</p>
                                    <div class="col-8 offset-2">
                                        <input class="form-control" id="fileInputAutre" name="myFileInputAutre" type="file"
                                            accept="image/*,.pdf" required="true" />
                                    </div>
                                </div>
                            <% } %>
                            
                            <br>
                            <div class="row" style="margin-bottom:5px;">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-success">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer'); %>

</html>