<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <div data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="centre-vertical body-content">
                <div class="card mx-auto b-2 my-2">
                    <div class="card-header text-center">
                        <h4>Candidater à l'offre</h4>
                        <%= title %>
                    </div>
                    <div class="card-body ">
                        <form method="POST" action="/offre/ajout">




                            <!-- TODO : lire les docs requis dans l'annonce et demander ces docs -->

                            <div class=" text-center mt-4 ">
                                <button type="submit " class="btn btn-primary btn-block ">Ajouter l'offre</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer'); %>

</html>