<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    
    <!-- Chargement des fichiers CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/CSS/global.css" />
</head>

<header><%- include('./partials/header'); %></header>

<body>
    <!-- Chargement des fichiers JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- TODO : compléter -->
    <div class="container text-center">
        <div class="row justify-content-around align-items-center">
            <div class="col-4 p-2 text-wrap">
                <img src="https://cdn.pixabay.com/photo/2022/05/10/03/41/overthink-7185863_960_720.png"
                    class="img-fluid" alt="Le penseur de RODIN" />
            </div>
            <div class="col-4 p-2 text-wrap">
                Trouvez le job qui vous convient vraiment.
            </div>
        </div>
        <div class="row justify-content-around align-items-center">
            <div class="col-4 p-2 text-wrap">
                Trouvez l'employeur / employé de vos rêves.
            </div>
            <div class="col-4 p-2 text-wrap">
                <img src="https://images.pexels.com/photos/11643390/pexels-photo-11643390.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="img-fluid" alt="Le reve" />
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer'); %>

</html>