<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/CSS/inscription.css">
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    
    <!-- Chargement des fichiers JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <div class="d-flex justify-content-center">
        <div class="centre-vertical">
            <div class="card mx-auto b-2 my-2">
                <div class="card-header text-center">
                    <h4>Inscription</h4>
                </div>

                <div class="card-body ">
                    <form method="POST" action="/users/inscription">
                        <div class="form-group">
                            <label>Email</label>
                            <input id="email" type="email" name="email" class="form-control"
                                placeholder="exemple@gmail.com" autofocus required onchange="verifMail_inscription()">
                        </div>

                        <div class="form-group">
                            <span id="msg_email"></span>
                        </div>
                        <label>Mot de passe</label>
                        <div class="form-group visibility_password">
                            
                            <input id="mdp1" type="password" name="password" class="form-control"
                                placeholder="hyper_secure" required>
                            <div class="password-icon">
                                <span class="material-symbols-outlined visibility">
                                    visibility
                                </span>
                                <span class="material-symbols-outlined visililityOff">
                                    visibility_off
                                </span>
                            </div>
                            
                        </div>

                        <label>Confirmation du mot de passe</label>
                        <div class="form-group visibility_password">
                            <input id="mdp2" type="password" class="form-control" placeholder="hyper_secure" required
                                onchange="verifMdp()">
                            <div class="password-icon">
                                <span id="visibility2OK" class="material-symbols-outlined visibility">
                                    visibility
                                </span>
                                <span id="visibility2OFF" class="material-symbols-outlined visililityOff">
                                    visibility_off
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Nom</label>
                            <input id="nom" type="text" name="nom" class="form-control" placeholder="John" required />
                        </div>

                        <div class="form-group">
                            <label>Prénom</label>
                            <input id="prenom" type="text" name="prenom" class="form-control" placeholder="Wick"
                                required />
                        </div>

                        <div class="form-group">
                            <label>Téléphone</label>
                            <input id="tel" type="tel" name="tel" class="form-control" placeholder="07XXXXXXXX"
                                required />
                        </div>

                        <label>Sexe</label>
                        <div class="form-group container_icon_right">
                            <select class="form-control" id="sexe" name="sexe">
                                <option selected disabled>Choix</option>
                                <option>Homme</option>
                                <option>Femme</option>
                                <option>Autre</option>
                            </select>
                            <span class="material-symbols-outlined icon_right">
                                arrow_drop_down
                            </span>
                        </div>

                        <div class="form-group">
                            <label>Date de naissance</label>
                            <input id="ddn" type="date" name="ddn" min="1900-01-01" max="<%= date %>"
                                class="form-control" placeholder="" required />
                        </div>

                        <div class="form-group">
                            <label>Latitude</label>
                            <input id="lat" type="number" class="form-control" name="lat" placeholder="26.357896"
                                required />
                        </div>

                        <div class="form-group">
                            <label>Longitude</label>
                            <input id="long" type="number" class="form-control" name="long" placeholder="127.783809"
                                required />
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-primary" onclick="verifForm()">
                                S'inscrire
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer'); %>

<script>

const eye = document.querySelector(".visibility_password .password-icon .visibility");
const eyeoff = document.querySelector(".visibility_password .password-icon .visililityOff");
const eye2off = document.querySelector("#visibility2OFF");
const eye2 = document.querySelector("#visibility2OK");
const passwordField = document.querySelector("#mdp1");
const passwordField2 = document.querySelector("#mdp2");
eye.addEventListener("click", () => {
    eye.style.display = "none";
    eyeoff.style.display = "block";
    passwordField.type = "text";
});

eyeoff.addEventListener("click", () => {
    console.log("click");
    eyeoff.style.display = "none";
    eye.style.display = "block";
    passwordField.type = "password";
});

eye2.addEventListener("click", () => {
    eye2.style.display = "none";
    eye2off.style.display = "block";
    passwordField2.type = "text";
});

eye2off.addEventListener("click", () => {
    console.log("click");
    eye2off.style.display = "none";
    eye2.style.display = "block";
    passwordField2.type = "password";
});
</script>
</html>